@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

#projectsImage:hover + #circuitCanvas{
  opacity: 1.0;
  filter: alpha(opacity=100);
}
#aboutmeImage:hover + .heartBeatSVG{
  opacity: 1.0;
  filter: alpha(opacity=100);
}

//Circuit
canvas {
  position:absolute;
  top:1%;
  left:2.5%;
  z-index:-1;
  opacity: 0.0;
  filter: alpha(opacity=0);
  transition: opacity .5s ease-in;
}

//Heartbeat
.heartBeatSVG {
  position:absolute;
  top:40%;
  left:0%;
  z-index:-1;
  width:100vw;
  height:100vh;
  max-width: 100%;
  opacity: 0.0;
  filter: alpha(opacity=0);
  transition: opacity .5s ease-in;
}
#beatline {
  stroke-width:2;
  stroke-dasharray: 810, 1800;
  animation: heartbeat 4.5s linear infinite;
  stroke:#ff0000;
  filter:url(#glow);
}
@keyframes heartbeat {
  from {stroke-dashoffset: 2610;}
  to {stroke-dashoffset: 0;}
}

.aside{
  content: "";
  display: table;
  clear: both;
  width:100%;
}

.left-aside{
  float:left;
  position:relative;
  left:5vw;
  width:10vw;
}

.right-aside{
  float:left;
  position:relative;
  left:15vw;
  max-width:66vw;
}

tr th{
  padding-bottom: 5vh;
}
